.main_img_hudi{
    width: 100%;
}





.header{
    justify-content: center;
    display: flex;
}
.block_items_shop {
    text-align: center;
    list-style: none;
   
}

.images_items{
    width: 80%;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    

}

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: Monserrat;
}